body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

button{
    background: lightgreen;
    height: 50px;
    width: 150px;
    font-weight: bold;
    box-shadow: 0 0 0 1px #333333;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    color: blue;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid green;
    cursor: pointer;

    line-height: 100px;
    font-size: 60px;
}
